<!DOCTYPE html>
<html lang="en" ng-app="chat">
<head>
    <meta charset="utf-8">
    <title>EventSource Demo</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body ng-controller="ChatController">
    <div class="history">
        <div ng-repeat="message in history" ng-class="{self: message.Author==user, message: true}">
            <div class="inner">
                <span class="author">{{message.Author}}:</span>
                <span class="body">{{message.Body}}</span>
            </div>
        </div>
    </div>
    <form id="message-form" ng-submit="sendMessage()">
        <input type="text"
            name="currentMessage"
            ng-model="currentMessage"
            placeholder="Say something...">
    </form>
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>