
body {
    font-family: sans-serif;
    margin-bottom: 7em;
    background: #eeeeee;
}

.message {
    text-align: left;
}

.message.self {
    text-align: right;
}

.message .inner {
    display: inline-block;
    padding: 1em;
    margin: .4em 0;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 1em;
    text-align: left;
}

.message.self .inner {
    background: #eeeeff;
    border: 2px solid #ddddee;
}

.message .author, .message .body {
    margin: .2em 0;
    font-size: 100%;
    line-height: 1.5em;
}

.message .author {
    display: inline-block;
    margin-right: .5em;
    font-weight: bold;
}

.message .body {
    display: inline-block;
}

#message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 5em;

    background: #eeeeee;
}

#message-form input {
    width: 100%;
    padding: .5em;
    font-size: 200%;
    border: none;
}